{{ define "title" }}{{ .Title | markdownify }} | {{ .Site.Title }}{{ end }}
{{ define "main" }}
  <div class="container">
    <div class="columns">
      <div class="column is-9">
        <div class="container">
          {{ $dateFormat := default "2006-01-02" (index .Site.Params "date_format") }}
          <div class="card">
            {{ $tagcolour := .Site.Params.params.colour }}
            <div class="card-header" style="flex-flow: column">
              <div class="card-header-title">
                <span class="card-header-title is-size-4"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></span>
              </div>
              <div class="field is-grouped is-grouped-multiline">
                {{ if .IsTranslated }}
                  {{ range .Translations }}
                    {{ $tagcolour := .Site.Params.params.colour }}
                    <div class="control">
                      <div class="tags has-addons">
                        <span class="tag has-text-light {{ $tagcolour }}">{{ .Lang }}</span>
                        <span class="tag {{ $tagcolour }} is-light has-text-white"><a href="{{ .Permalink }}">{{ .Title }}</a></span>
                      </div>
                    </div>
                  {{ end }}
                {{ end }}
              </div>
            </div>
            <div class="card-content is-primary">
              <div class="doc">
                {{ .Content }}
              </div>
            </div>
            <div class="card-footer">
              {{ if or (ne ($.Param "share") false) (.Site.DisqusShortname) }}
                <div class="card-footer-item">
                  {{ if (ne ($.Param "share") false) }}
                    {{ partial "share" . }}
                  {{ end }}
                </div>
                <div class="card-footer-item">
                  <div class="field is-grouped is-grouped-multiline">
                    {{ partial "meta" . }}
                  </div>
                </div>
                <div class="card-footer-item">
                <a class="button" href="{{ .Site.Params.gitrepo }}/{{ .Site.Params.gitpath }}/{{ .Site.Params.contentDir }}/{{ replace .File.Path "\\" "/" }}" 
                                  target="_blank" rel="noopener" alt="{{ i18n "pageedit"}}"><span>{{ i18n "pageedit" }}</span></a>
                </div>
            </div>
            <div class="card-footer" style="flex-flow: column;">
              <div class="card-footer-item">
                {{ if and (.Site.DisqusShortname) (ne .Params.comments false) }}
                  {{ template "_internal/disqus.html" . }}
                {{ end }}
              </div>
            </div>
          {{ end }}
          </div>
        </div>
      </div> 
      <div class="column is-3">
        {{ partial "aside" . }}
      </div>
    </div>
  </div>
{{ end }}
{{- /* vim: set ts=2 sw=2 et: */}}

