@charset "utf-8";
$white-color: #fff;
$smoke-10-color: #fefefe;
$smoke-30-color: #fafafa;
$smoke-50-color: #f5f5f5;
$smoke-70-color: #f0f0f0;
$smoke-90-color: #e1e1e1;
$grey-10-color: #c1c1c1;
$grey-30-color: #8e8e8e;
$grey-50-color: #808080;
$grey-70-color: #5d5d5d;
$jet-20-color: #4a4a4a;
$jet-30-color: #424242;
$jet-50-color: #333;
$jet-70-color: #222;
$jet-80-color: #191919;
$black-color: #000;
$orange-color: #ff6f00;
$blue-color: #4285f4;
$red-color: #d9534f;
$caution-color: #a0439c;
$important-color: #d32f2f;
$note-color: #217ee7;
$tip-color: #41af46;
$warning-color: #e18114;

