/*

Original highlight.js style (c) Ivan Sagalaev <maniac@softwaremaniacs.org>

*/
/* Base color: saturation 0; */
/* User color: hue: 0 */
/* Language color: hue: 90; */
/* Meta color: hue: 200 */
/* Misc effects */
.hljs {
	display: block;
	overflow-x: auto;
	padding: 0.5em;
	background: #F0F0F0;
	color: #444;
}
.hljs-subst {
	color: #444;
}
.hljs-comment {
	color: #888888;
}
.hljs-keyword {
	font-weight: bold;
}
.hljs-attribute {
	font-weight: bold;
}
.hljs-selector-tag {
	font-weight: bold;
}
.hljs-meta-keyword {
	font-weight: bold;
}
.hljs-doctag {
	font-weight: bold;
}
.hljs-name {
	font-weight: bold;
}
.hljs-type {
	color: #880000;
}
.hljs-string {
	color: #880000;
}
.hljs-number {
	color: #880000;
}
.hljs-selector-id {
	color: #880000;
}
.hljs-selector-class {
	color: #880000;
}
.hljs-quote {
	color: #880000;
}
.hljs-template-tag {
	color: #880000;
}
.hljs-deletion {
	color: #880000;
}
.hljs-title {
	color: #880000;
	font-weight: bold;
}
.hljs-section {
	color: #880000;
	font-weight: bold;
}
.hljs-regexp {
	color: #BC6060;
}
.hljs-symbol {
	color: #BC6060;
}
.hljs-variable {
	color: #BC6060;
}
.hljs-template-variable {
	color: #BC6060;
}
.hljs-link {
	color: #BC6060;
}
.hljs-selector-attr {
	color: #BC6060;
}
.hljs-selector-pseudo {
	color: #BC6060;
}
.hljs-literal {
	color: #78A960;
}
.hljs-built_in {
	color: #397300;
}
.hljs-bullet {
	color: #397300;
}
.hljs-code {
	color: #397300;
}
.hljs-addition {
	color: #397300;
}
.hljs-meta {
	color: #1f7199;
}
.hljs-meta-string {
	color: #4d99bf;
}
.hljs-emphasis {
	font-style: italic;
}
.hljs-strong {
	font-weight: bold;
}

