@charset "utf-8";
// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import "./colors.scss";
@import "./vars.scss";

$grey-darker: $grey-70-color;
$grey-dark: $grey-50-color;
$grey: $grey-30-color;
$grey-light: $grey-10-color; 
$grey-lighter: $smoke-90-color; 
$white-ter: $smoke-70-color;

$rem-base: 18;
$body-font-size: 1.0625em;
$body-size: $body-font-size;

$pagination-background-color: $smoke-50-color;
$pagination-current-background-color: $grey-light;
$pagination-active-color: $jet-70-color;

$button-color: $grey-darker;

// Fonts 
$family-monospace: "Roboto Mono", sans-serif;
$family-sans-serif: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$family-primary: $family-sans-serif;

// Import only what you need from Bulma
@import "./node_modules/bulma/sass/utilities/_all.sass";
@import "./node_modules/bulma/sass/base/_all.sass";
@import "./node_modules/bulma/sass/elements/button.sass";
@import "./node_modules/bulma/sass/elements/tag.sass";
@import "./node_modules/bulma/sass/elements/box.sass";
@import "./node_modules/bulma/sass/elements/container.sass";
@import "./node_modules/bulma/sass/elements/title.sass";
@import "./node_modules/bulma/sass/elements/content.sass";
@import "./node_modules/bulma/sass/elements/table.sass";
@import "./node_modules/bulma/sass/components/navbar.sass";
@import "./node_modules/bulma/sass/components/card.sass";
@import "./node_modules/bulma/sass/components/menu.sass";
@import "./node_modules/bulma/sass/components/level.sass";
@import "./node_modules/bulma/sass/components/panel.sass";
@import "./node_modules/bulma/sass/components/pagination.sass";
@import "./node_modules/bulma/sass/layout/hero.sass";
@import "./node_modules/bulma/sass/layout/section.sass";
@import "./node_modules/bulma/sass/layout/footer.sass";
@import "./node_modules/bulma/sass/helpers/typography.sass";
@import "./node_modules/bulma/sass/helpers/color.sass";
@import "./node_modules/bulma/sass/helpers/_all.sass";
@import "./node_modules/bulma/sass/grid/_all.sass";
@import "./node_modules/bulma/bulma.sass";
@import "./doc.scss";
@import "./extra.scss";
@import "./highlight.scss";
