<nav class="box">
  <div class="">
  {{ partial "language" . }}
  </div>
  <hr>
  {{ range .Site.Menus.main }}
  <a href="{{ .URL | relLangURL }}" class="panel-block is-success">{{ .Name }}</a>
  {{end}}
</nav>
{{- /* vim: set ts=2 sw=2 et: */}}
