<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=6">
  <title itemprop="name">{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
  <meta name="description" content="{{ .Site.Params.description }}" />
  <base href="{{ .Permalink }}">
  <meta name="url" content="{{ .Permalink }}" />

  <meta name="language" content="{{ .Language.LanguageName }}">
  {{ range .AllTranslations }}
    <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
  {{ end }}

  {{- with .Site.Params.bing_verify_meta -}}
    <meta name="msvalidate.01" content="{{ . }}" />
  {{ end }}

  {{- with .Site.Params.yandex_verify_meta -}}
    <meta name="yandex-verification" content="{{ . }}" />
  {{ end }}

  {{- .Site.Hugo.Generator -}}

  {{ $options := (dict "targetPath" "/css/style.min.css" "outputStyle" "compressed" "enableSourceMap" true "includePaths" (slice "extra.scss" "custom.scss")) }}
  {{ $style := resources.Get "main.scss" | resources.ToCSS $options }}
  <link href="{{ $style.Permalink }}" rel="stylesheet">

  {{ range .Site.Params.customcss -}}
    <link rel="stylesheet" href="{{ . | absURL }}">
  {{- end }}


  {{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}
  {{ partial "schema.html" . }}
</head>
{{- /* vim: set ts=2 sw=2 et: */}}
{{- /*
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/v4-shims.min.css" integrity="sha256-wN7QJaqAwQ03kgUhyN4EU2phRdDkLrQYbFe0EvpQ60U=" crossorigin="anonymous" />

{{ template "_internal/opengraph.html" . }}
*/ -}}

