<hero class="hero is-light is-flex-desktop">
<div class="hero-body">
  <div class="container">
    <div class="title is-size-2"><a href="{{ .Site.BaseURL | relLangURL }}" rel="home">{{ .Site.Title | safeHTML }}</a></div>
    {{ if .Site.Params.description }}
    <div class="subtitle is-size-4 has-text-grey">{{ .Site.Params.description }}</div>
    {{ end }}
  </div>
</div>
</hero>

{{- /* vim: set ts=2 sw=2 et: */}}
