
{{ if gt (len .Site.Home.AllTranslations) 1 }}
<div class="navbar-item">
<div class="field is-grouped is-grouped-multiline">
  <div class="tags">
    <div class=""> <span class="iconify" data-icon="fa:language" data-inline="false"></span>&nbsp;</div>
  {{ range .Site.Home.AllTranslations }}
  {{ $tagcolour := .Site.Params.params.colour }}
    <span><a class="tag {{ $tagcolour }} is-light" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></span>
  {{ end }}
  </div>
</div>
  </div>
{{ end }}
{{- /* vim: set ts=2 sw=2 et: */}}
