  {{ if .Params.categories }}
  {{ range $index, $category := .Params.categories }}{{ if gt $index 0 }}{{ end }}
  <div class="control">
    <div class="tags has-addons">
      <span class="tag is-danger"><i class="iconify" data-icon="carbon:tag"></i></span>
      <span class="tag is-danger is-light"><a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}/" rel="category">{{ . }}</a></span>
    </div>
  </div>
  {{ end }}
  {{ end }}

  {{ if .Params.tags }}
  {{ range $index, $tag := .Params.tags }}{{ if gt $index 0 }}{{ end }}
  <div class="control">
    <div class="tags has-addons">
      <span class="tag is-success"><i class="iconify" data-icon="carbon:tag"></i></span>
      <span class="tag is-sucess is-light"><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/" rel="tag">{{ . }}</a></span>
    </div>
  </div>
  {{ end }}
  {{ end }}
{{- /* vim: set ts=2 sw=2 et: */}}
