<nav class="navbar is-hidden-tablet" role="navigation" aria-label="main navigation">

  <div class="navbar-brand">
    <a class="navbar-item page-scroll" href="#intro">{{ .Site.Title }}</a>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="site-navbar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="site-navbar" class="navbar-menu is-active">
    <div class="navbar-start">
      {{ partial "language" . }}
    </div>

    <div class="navbar-end">
      {{- $currentPage := . -}}
      {{ range .Site.Menus.main }}
        {{ $menuURL := .URL | absLangURL }}
        {{ if or ($.IsMenuCurrent "main" .) ($.HasMenuCurrent "main" .) }} class="is-active"{{ end }}
          <a href="{{ .URL }}" class="navbar-item $class">{{ .Name }}</a>
        {{ end }}
    </div>
  </div>
</nav>

  <script>
document.addEventListener('DOMContentLoaded', () => {

  // Get all "navbar-burger" elements
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Check if there are any navbar burgers
  if ($navbarBurgers.length > 0) {

    // Add a click event on each of them
    $navbarBurgers.forEach( el => {
      el.addEventListener('click', () => {

        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });
  }

});
  </script>
{{- /* vim: set ts=2 sw=2 et: */}}
