<style>
.mysvg {
  width: 2.0em;
  height: 2.0em;
}
</style>
<span class="has-text-link is-light">
<a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" title={{ i18n "share" }}><span class="iconify mysvg" data-icon="carbon:logo-facebook"></span></a>
<a class="facebook" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ .Permalink }}" title={{  i18n "share" }}><span class="iconify mysvg" data-icon="carbon:logo-linkedin"></span></a>
<a class="nav-item" href="https://twitter.com/intent/tweet?url={{ .Permalink }}&amp;text={{ .Title }}" title={{ i18n "tweet" }}><span class="iconify mysvg" data-icon="carbon:logo-twitter"></span></a>
</span>
{{- /* vim: set ts=2 sw=2 et: */}}
