{{ define "title" }}{{ .Title | markdownify }} | {{ .Site.Title }}{{ end }}
{{ define "main" }}
  <div class="container">
    <div class="columns">
      <div class="column is-9">
        <div class="container">
          {{ $paginator := .Paginate (where .Site.Pages "Type" "home") }} 
          {{ range $paginator.Pages }} 
            <div class="card">
              <div class="card-content is-primary">
                {{ $tagcolour := .Site.Params.params.colour }}
                <div class="title" >{{ .Title}}</div>
                {{ if .IsTranslated }}
                  {{ range .Translations }}
                    {{ $tagcolour := .Site.Params.params.colour }}
                    <div class="tags has-addons">
                      <span class="tag {{ $tagcolour }}">{{ .Lang }}</span>
                      <span class="tag {{ $tagcolour }} is-light has-text-black"><a href="{{ .Permalink }}">{{ .Title }}</a></span>
                    </div>
                  {{ end }}
                {{ end }}
                <div class="doc">
                  {{ .Content }}
                </div>
              </div>
            {{ end }}
            </div>
        </div>
      </div> 
      <div class="column is-3">
        {{ partial "aside" . }}
      </div>
    </div>
  </div>
{{ end }}
{{- /* vim: set ts=2 sw=2 et: */}}
